server=http://{{ ocs_server }}/ocsinventory
ssl=0
logfile=/var/log/ocs.log
tag=Workstation
basevardir=/var/lib/ocsinventory-agent
debug=1
user={{ ocs_agent_user }}
password={{ ocs_agent_password }}
realm="OCS Inventory agent area"
